<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Tech Blog</a>
      </h1>
        <nav>
          <span><a href="/">Home</a></span> 
          <a href="/"><button class="btn">Home</button></a>
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style" href="/">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
    </header>
    <div>
      <h1>Welcome to the : TECH BLOG</h1>
    </div>
    
    <main>
      {{{ body }}}
    </main>
    </div>
    
   <footer>
     <h4>Thanks for visiting the Tech Blog!</h4>
   </footer> 
      
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>

     
    {{/if}}


 

</body>

</html>