<form class="login-form">
  <div>
    <label for="username-login">USERNAME:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">PASSWORD:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">LOGIN</button>
  </div>
</form>

<a href="/signup">Don't have an account, sign up instead!</a>

<script src="/javascript/login.js"></script>