<form class="login-form" id="login-form">
  <div>
    <label class="form-label" for="username-login">USERNAME:</label>
    <input type="text" id="username-login" class="form-input"/>
  </div>
  <div>
    <label class="form-label" for="password-login">PASSWORD:</label>
    <input type="password" id="password-login" class="form-input"/>
  </div>
  <div>
    <button type="submit" class="btn">LOGIN</button>
  </div>
  <a class="login-link" href="/signup">Don't have an account, sign up instead!</a>
</form>



<script src="/javascript/login.js"></script>